<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electric Target System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<header>
    <div style="margin-top: 5px">
        <a href="{{ url_for('index') }}"><button type="button" class="btn btn-primary btn-lg">Povratak</button></a>
    </div>
</header>
<body>
<h3><b>Korisničke upute</b></h3>
<p><b>1. Za pokretanje sustava potrebno je stinsnuti na sliku "Pokreni metu"</b></p>
<p><b>2. Pojaviti ću vam se dvije tipke "Ocitaj pogotke" i "Resetiraj metu"</b></p>
<p><b>3. Prije pokretanja očitavanja pomoću tipke "Ocitaj pogotke" obavezno postavite metu!</b></p>
<p><b>4. Nakon opaljenog hitca iz oružja pritisnite tipku "Ocitaj pogotke"</b></p>
<p><b>5. Nakon očitavanja pogodtak će vam biti prikazan u tablici</b></p>
</body>
</html>